<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h4 class="heading"><b>You can reach us on our different platforms:</b></h4>
        <div class="list">
           <b><button class="btn btn-primary"><a href="https://twitter.com/i/flow/login"><div class="li" style="margin-inline:10px;">Twitter</div></a></button><br>
           <button class="btn btn-primary"><a href="https://www.facebook.com/"><div class="li" style="margin-inline:1px;">Facebook</div></a></button><br>
          <button class="btn btn-primary"><a href="https://www.instagram.com/accounts/login/?hl=en"><div class="li">Instagram</div></a></button></b>
        </div>
        
    </div>
</body>

</html>