<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signin</title>
</head>
<link rel="stylesheet" href="signin.component.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<body>
  <form class="container">
    <div class="input">
      <span class="userid"><b>User ID:</b><input type="text" name="userid" id="userid" placeholder="User ID"
          required></span><br>
      <br>
      <span class="password"><b>Password:</b><input type="password" name="password" id="password" placeholder="Password"
          required></span><br>
    </div>
    <a routerLink="/test-page"><button class="btn btn-success signin">Sign In</button></a>

  </form>

</body>
<router-outlet></router-outlet>

</html>